@import "tailwindcss";

@theme {
  --color-primary-600: #4c0e25;
  --color-primary-700: #3D0B1E;
  --color-primary-50: #fce8f0;
}

.container-custom {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 24px;
}